
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body {
     font-family: monospace;
     width: 100vw;
     background: #003049;
}

.wrapper {
     border: 2px solid;
     width: fit-content;
}

