/* overflow-wrap: break-word; */
     
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar track (background) */
::-webkit-scrollbar {
    width: 10px; /* width for vertical scrollbar */
    height: 10px; /* height for horizontal scrollbar */
}

/* Scrollbar handle (thumb) */

::-webkit-scrollbar-thumb {
    background-color: #888; /* Change color */
    border-radius: 12px; /* Rounded edges */
    border: 1px solid transparent; /* Inner padding */
}

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     transition: all 0.1s ease-in-out;
}

body {
     font-family: "Roboto", Arial, sans-serif;
     font-weight: 500;
}

body.light {
     /* Light */
     background-color: #fff;
     color: black;
}

body.dark  {
     /* dark */
     background-color: #343a40;
     color: white;
}

.border-style {
     border-top-width: 1px;
     border-right-width: 1px;
     border-bottom-width: 1px;
}

.bg-style {
     background-color: #80808090;
     
}

.bg-style:hover {
     background-color: #80808060;
}

.responsive-sidebar {
     width: 0;
     transition: all 0.2s ease-in-out;
}

.main--container {
     margin-left: 55px;
}

.video-subscriptions-sidebar, .text-latest {
     margin-left: 220px;
}
.navbar-height {
     height: calc(100% - 74px);
}

.moveAside {
     margin-left: 220px;
}

#auto-playlist:hover > .play-hover-01, #ep-lists:hover > .play-hover-02 {
     background-color: gray;
     display: block;
}

.time-list:hover ~ i {
     display: block;
}


.playlist-liked:hover > :nth-child(4)  {
     display: flex;
     color: white;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.playlist-liked:hover {
     filter: brightness(60%);
}

.playlist-watchlater:hover > :nth-child(4) {
     display: flex;
     color: white;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.playlist-watchlater:hover {
     filter: brightness(60%);
     
}

.downl:hover, .ver-menu:hover  {
     background: gray;
}